.Layout {
    color: var(--txt-color)
}

.Layout_Content {
    padding-left: calc(var(--sidebar-width) + 30px);
    padding-right: 30px;
    background-color: var(--second-bg);
    min-height: 100vh;
    transition: all .5s;
}

.Layout_content_Main {
    padding: 30px;
}