.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.Sidebar_Logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sidebar_Logo>img {
    height: 45px;
}

.Sidebar_Item {
    padding: 0 20px;
}

.Sidebar_Item_Inner {
    padding: 15px 25px;
    display: flex;
    align-Items: center;
    font-weight: 600;
    transition: color 0.3s ease 0s;
}

.Sidebar_Item_Inner>i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.Sidebar_Item_Inner>span {
    text-transform: capitalize;
}

.Sidebar_Item_Inner:hover {
    color: var(--main-color);
}

.active .Sidebar_Item_Inner {
    border-radius: var(--border-radius);
    background-image: linear-gradient( to right, var(--main-color), var(--second-color));
    color: var(--txt-white);
}